<div class="mob-fixed-bar fixed left-0 bottom-0 z-50 justify-between items-center border-t border-gray-300 w-full bg-white p-3 hidden lg:hidden">

  <div>
    <a class="underline text-sm" href="/contact/">Get in touch</a>
  </div>

  <button title="Toggle Mobile Menu" class="flex items-center bg-white rounded-lg border border-primary text-primary text-xs px-4 py-2" data-mobile-menu-toggle>
    {{ function('icon', 'bars') }}
    <span class="ml-1">Menu</span>
  </button>

</div>
