{% set pagebuilder = pagebuilder|default(post.meta('page_builder')) %}

{% for item in pagebuilder %}

  {% if item.acf_fc_layout == "just_text" %}

    {% include '_components/just-text.twig'
      with {
        content: item.content,
        align: item.text_alignment,
        enlarge_first_para: item.enlarge_first_paragraph
      }
    %}

  {% elseif item.acf_fc_layout == "full_width_image" %}

    <div class="py-2 xl:p-10 xl:py-5 flex justify-center">
      <img class="lazyload" data-src="{{item.image.url|resize(1900)}}" alt="{{item.image.title}}">
    </div>

  {% elseif item.acf_fc_layout == "multiple_images" %}

    {% for img in item.gallery %}
      <div class="py-2 xl:px-10 xl:py-5 flex justify-center">
        <img class="lazyload" data-src="{{ img.url|resize(1900) }}" alt="{{ item.title }}" />
      </div>
    {% endfor %}

  {% endif %}

{% endfor %}