{% extends '_layout/base.twig' %}

{% block hero %}
  {% include "_components/hero-internal.twig" with { hero_headline: "Page not found" } %}
{% endblock %}

{% block content %}

<div class="container flex-wrap flex-grow my-8 lg:flex lg:my-16">

  <main class="w-full">

    <article class="copy text-center">

      <h1>Page not found</h1>

      <p>Try the <a href="{{site.url}}">home</a> page.</p>

    </article>

  </main>

</div>

{% endblock %}
