{% include "_layout/head.twig" %}

{% block hero %}
  {% include "_components/hero.twig" %}
{% endblock %}

{% block header %}
  {% include "_components/header.twig" %}
{% endblock %}

{% block content %}

  <main>

    <h1 class="sr-only">{{post.h1|default(post.title)}}</h1>

    {% include "_components/page-builder.twig" %}

  </main>

{% endblock %}

{% block footer %}
  {% include "_components/footer.twig" %}
{% endblock %}

{% include "_layout/foot.twig" %}