{% extends '_layout/base.twig' %}

{% block hero %}
  {% include "_components/hero-internal.twig" with { hero_headline: post.title } %}
{% endblock %}


{% block content %}

<main>

  {% include "_components/page-builder.twig" %}

</main>

{% endblock %}
